/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} 

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
} 

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: black; */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, black);
    background-size: 500% 500%;
    animation: gradient 1s ease infinite;
    height: 100vh;
  }

    @keyframes gradient {
      0% {
        background-position: 0% 20%;
      }
      25% {
          background-position: 80% 15%;
        }
      50% {
        background-position: 100% 5%;
      }
      75% {
        background-position: 90% 1%;
      }
      100% {
        background-position: 10% 30%;
      }
    }


h1 {
  font-family: 'Rubik Iso', cursive;
  font-size: 60px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: .5em;
  }
    
h2 {
  margin-top: 1em;
  
    font-family: 'Russo One', sans-serif;
  font-size: 40px;
  color: white;
  font-weight: bold;
  animation-duration: 5s;
    animation-name: twirl;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    text-align: center;
  }
  
  @keyframes twirl {
    from {
      transform: rotate(-1220deg);
    }
  
    to {
      transform: rotate(410deg)
    }
}

button {
  padding: .1em;
  margin: .1em;
  font-size: 5em;
  background-color: black; 
  border: white .06em solid;
  border-radius: 15%;
  margin-top: .2em;
}

button:active {
  transform: scale(1.8);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
button:hover {
  animation-duration: .1s;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
    }
      @keyframes grow {
    from {
          transform: rotate(0deg);
          transform: scale(1.2);
        }
      to {
          transform: rotate(360deg)
        } 
      } 

button:focus {
  animation-duration: .4s;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes grow {
  from {
    transform: rotate(0deg);
    transform: scale(1.2);
  }

  to {
    transform: rotate(360deg)
  }
}


  
     

.display {
  color: white;
  border: white 10px;
  height: 25em;
  width: 35em;
}


.compScore {
  width: 6em;
  font-family: 'Rubik Iso', cursive;
  font-weight: bold;
  display: flex;
  white-space: nowrap;
  margin-right: 1em;
}

.compChoice {
  font-size: 8em;
  font-family: 'Rubik Iso', cursive;
  font-weight: bold;
  animation-duration: .3s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  }

  @keyframes spin {
    from {
      transform: rotate(-30deg);
    }

    to {
      transform: rotate(60deg)
    }
  }

.gameDisplay {
  display: flex;
  justify-content: center;
  font-family: 'Rubik Iso', cursive;
    font-family: 'Russo One', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  height: 50px;
  animation-duration: .1s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes spin {
    from {
      transform: rotate(-2deg);
    }
  
    to {
      transform: rotate(3deg)
    }
  }




.round {
  font-size: 1.5em;
  font-family: 'Rubik Iso', cursive;
    font-family: 'Russo One', sans-serif;
}

.playerScoreAndRound {
  
      display: flex;
      justify-content: space-around;
      margin: 2em;
    justify-content: space-around;
  font-family: 'Rubik Iso', cursive;
  font-weight: bold;
  animation-duration: .3s;
    animation-name: grow;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes grow {
    from {
      transform: rotate(0deg);
      transform: scale(1.1);
    }
  
    to {
      transform: rotate(360deg)
    }
}
.compScore {
  font-size: 2em;
  animation-duration: .2s;
    animation-name: grow;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes grow {
    from {
      transform: rotate(0deg);
      transform: scale(1.1);
    }
  
    to {
      transform: rotate(360deg)
    }
}

.playerScore{
  font-size: 2em;
}

/* .playerScoreAndRound {} */

.compChoicePlusScore {
 margin: 2em;
 display: flex;
 justify-content: space-around;
 flex-direction: row;
}

h1{
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}


 @keyframes slidein {
   from {
     margin-left: 100%;
     width: 300%;
   }

   75% {
     font-size: 300%;
     margin-left: 25%;
     width: 150%;
   }

   to {
     margin-left: 0%;
     width: 100%;
   }
 }
 
 .change {
  animation-name: wobbles;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes wobbles {
    from {
      transform: rotate(2deg);
    }
  
    to {
      transform: rotate(-2deg)
    }
 }
 

 @media (max-width: 640px) {
  h1 {
    margin: .2em;
  }
  h2 {
    margin-bottom: 1em;
  } 
  .gameDisplay {
    font-size: 20px;
    margin-right: 1em;
  }
   .rock, .paper, .scissors {
     height: 1em;
     width: 1em;
     background-color: black;
     font-size: 3em;
   }
  .compChoice {
    display: flex;
    font-size: 4em;
    margin-right: .1em;
  }
  .compChoicePlusScore {
  display: flex;
  justify-content: center;
  flex-direction: row;

  }
  .compScore {
    margin-right: 15px;
  };
  .playerScoreAndRound {

    display: flex;
    gap: 2em;
    justify-content: center;
    font-family: 'Rubik Iso', cursive;
    font-weight: bold;
    animation-duration: .3s;
    animation-name: grow;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  .playerScore {
    margin-right: .2em;
  }
  .round {
    margin-right: -5em;
  }
 }

 .weaponContainer {
  margin-bottom: 3em;
  font-size: 2em;
 }