/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} 

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
} 

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  }


h1 {
  font-family: 'Rubik Iso', cursive;
  font-size: 88px;
  color: white;
  }
    


button {
  padding: .1em;
  margin: .1em;
  font-size: 6em;
  background-color: black;
  border: white .08em dotted;
}

button:active {
  transform: scale(1.8);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
button:hover {
  animation-duration: .1s;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  
    }

          
              @keyframes grow {
            from {
                  transform: rotate(0deg);
                  transform: scale(1.2);
                }
          
            /* 75% {
                  font-size: 300%;
                  margin-left: 25%;
                  width: 150%;
                } */
          
             to {
                  transform: rotate(360deg)
                } 
              } 

  
     

.display {
  color: white;
  border: white 10px;
  height: 25em;
  width: 25em;
}

.playerScoreAndRound {
 display: flex;
 justify-content: space-between;
 margin: 2em;
}

.compScore {
  margin-right: 2em;
  font-family: 'Rubik Iso', cursive;
}

.compChoice {
  font-size: 8em;
  font-family: 'Rubik Iso', cursive;
}

.gameDisplay {
  display: flex;
  justify-content: center;
  font-family: 'Rubik Iso', cursive;
  font-size: 3em;
}

.round {
  font-size: 2em;
}

.playerScoreAndRound {
  font-family: 'Rubik Iso', cursive;
}
.compScore {
  font-size: 2em;
}

.playerScore{
  font-size: 2em;
}

/* .playerScoreAndRound {} */

.compChoicePlusScore {
 margin: 2em;
 display: flex;
 justify-content: space-between;
}

h1{
animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}


 @keyframes slidein {
   from {
     margin-left: 100%;
     width: 300%;
   }

   75% {
     font-size: 300%;
     margin-left: 25%;
     width: 150%;
   }

   to {
     margin-left: 0%;
     width: 100%;
   }
 }


/* .compChoicePlusScore {} *//* .compChoicePlusScore {} */